<div class="container">
  <h1 class="text-primary"><%= @restaurant.name %></h1>
  <h4><%= @restaurant.address %></h4>
  <h4><%= @restaurant.phone_number %></h4>

  <button type="button" id="review-btn" class="btn btn-outline-warning w-100 mb-3"></button>

  <%= render './reviews/form', restaurant: @restaurant, review: @review %>
  <!--
  <div id="review-form">
    <%= simple_form_for [@restaurant, @review] do |f|%>
      <%= f.input :content %>
      <%= f.input :rating, input_html: { min: '0', max: '5' } %>
      <%= f.submit class: 'btn btn-outline-success w-100' %>
    <% end %>
  </div> -->

  <h5>Reviews for <%= @restaurant.name %>:</h5>
  <ul class="list-group my-3">
  <% if @reviews.length > 0 %>
    <% @reviews.each do |review| %>
      <li class="list-group-item my-1">
        <p><%= '⭐️' * review.rating %></p>
        <p><%= review.content %></p>
      </li>
    <% end %>
  <% else %>
    <div class="text-center"><%= "No reviews yet!" %></div>
    <% end %>
  </ul>

  <%= link_to "Home", restaurants_path, class: 'btn btn-outline-dark w-100 mb-3' %>

  <script>
    reviewButton = document.getElementById("review-btn")
    reviewForm = document.getElementById('review-form');
    reviewButton.addEventListener('click', (event) => {
      event.preventDefault();
      reviewForm.classList.toggle("visible");
      reviewButton.classList.toggle("opened");
    });
  </script>

</div>

